body {
    font-family: 'Cascadia Code', sans-serif;
}

button {
    font-family: inherit;
    font-size: 1em;
}

.main {
    font-size: xx-large;
    padding: 1em 2em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.switch {
    height: auto;
    width: 30em;
    padding: 1em;
    margin: 1em;
    position: relative;
}

#btn-click,
#btn-switch {
    padding: 1em 2em;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: rgba(122, 122, 122, 0.3);
    transition: all 0.5s;
}

#btn-click:hover,
#btn-switch:hover {

    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}